<link
  rel="preload"
  href="/etc.clientlibs/tonomus/clientlibs/clientlib-site/resources/asset/font/brown-light.c8ada63.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
/>
<link
  rel="preload"
  href="/etc.clientlibs/tonomus/clientlibs/clientlib-site/resources/asset/font/brown-regular.c974dcf.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
/>
<link
  rel="preload"
  href="/etc.clientlibs/tonomus/clientlibs/clientlib-site/resources/asset/font/zarid-regular.4cd10fe.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
/>
<link
  rel="preload"
  href="/etc.clientlibs/tonomus/clientlibs/clientlib-site/resources/asset/font/29LTZaridText-Bold.e9f5720.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
/>
<link
  rel="preload"
  href="/etc.clientlibs/tonomus/clientlibs/clientlib-site/resources/asset/font/bukra-regular.4491a2c.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
/>
<link
  rel="preload"
  href="/etc.clientlibs/tonomus/clientlibs/clientlib-site/resources/asset/font/bukra-alt.f106b72.woff2"
  as="font"
  type="font/woff2"
  crossorigin="anonymous"
/>
