<!--/* Include Adobe Launch scripts */-->
<sly data-sly-template.adobeLaunch="${@
    adobeLaunchConfiguration='Adobe Launch config',
    adobeLaunchAsyncScriptEnable='Add JS code for Adobe Launch in order to manage flicker.',
    delay='Delay in milliseconds for Adobe Launch JS code (the default value is 3000 ms)'}">

  <sly data-sly-test="${adobeLaunchAsyncScriptEnable}">
    <!-- Pre-hiding script to avoid flicker -->
    <script>
      ;(function(win, doc, style, timeout) {
        var STYLE_ID = 'at-body-style';
        function getParent() {
          return doc.getElementsByTagName('head')[0];
        }
        function addStyle(parent, id, def) {
          if (!parent) {
            return;
          }
          var style = doc.createElement('style');
          style.id = id;
          style.innerHTML = def;
          parent.appendChild(style);
        }
        function removeStyle(parent, id) {
          if (!parent) {
            return;
          }
          var style = doc.getElementById(id);
          if (!style) {
            return;
          }
          parent.removeChild(style);
        }
        addStyle(getParent(), STYLE_ID, style);
        setTimeout(function() {
          removeStyle(getParent(), STYLE_ID);
        }, timeout);
      }(window, document, "body {opacity: 0 !important}", ${delay ? delay : '3000' @ context='scriptToken'}));
    </script>
    <!-- End pre-hiding script to avoid flicker -->
  </sly>

  <sly data-sly-test.adobeLaunchConfig="${adobeLaunchConfiguration}">
    <script async src="${adobeLaunchConfig @ context='text'}" ></script>
  </sly>
</sly>