<link rel="stylesheet" href="./o48-loading-spinner.scss">
<script src="./O48LoadingSpinner.ts"></script>


<div class="o-loadingSpinner"
     data-component="o48-loading-spinner"
>
  {{> atom/a17-spinner size="large"}}
</div>
