<link rel="stylesheet" href="./a26-fieldset-legend.scss">
<script src="./A26FieldsetLegend.ts"></script>


<h2 class="a-fieldsetLegend {{#if required}} -isRequired{{/if}} {{#if variant}} -{{variant}}{{/if}}" data-component="a26-fieldset-legend"
    data-fieldset-legend>
    {{legend}}
</h2>
