<link rel="stylesheet" href="./m10-scroll-button.scss">
<script src="./M10ScrollButton.ts"></script>

<button class="m-scrollButton" data-component="m10-scroll-button" data-scroll-button>
  {{> atom/a02-icon name="mouse" }}
</button>
