maxLevel=I"5"
service.ranking=I"2000"
templatePaths=["/conf/tonomus/settings/wcm/templates/t04-home","/conf/tonomus/settings/wcm/templates/t05-content","/apps/tonomus/templates/neom-site-page"]
configPathPatterns=["/conf/tonomus/site-config$1"]
contextPathRegex="^(/.+)$"
templateMatchAllLevels=B"true"
minLevel=I"1"