<link rel="stylesheet" href="./a08-page-indicator.scss">
<script src="./A08PageIndicator.ts"></script>

<span class="a-pageIndicator{{#if active}} -isActive{{/if}}" data-component="a08-page-indicator"></span>
