.m-tileCta {
  align-items: center;
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 20px;
  border: solid 2px var(--color-white);
  border-radius: 8px;
  background: var(--color-white);

  &__label {
    @include type("exception", "body14");

    color: var(--color-black);
  }

  .a-icon {
    color: var(--color-dark-gold);
  }

  @media (pointer: fine) {
    border-color: var(--color-white-10a);
    background: transparent;
    position: relative;
    transition: 0.2s $easeLinear;
    transition-property: border-color, background;

    &__label {
      color: var(--color-white);
    }

    .a-icon {
      color: var(--color-white);
    }

    &__label,
    .a-icon {
      transition: inherit;
      transition-property: color;
    }

    @include hover {
      background: var(--color-white);

      .m-tileCta__label {
        color: var(--color-black);
      }

      .a-icon {
        color: var(--color-dark-gold);
      }
    }
  }

  @include respond-to(MEDIUM) {
    flex-direction: column;
    text-align: center;
    padding-block: 40px;
    height: 190px;

    .a-icon {
      --icon-size: 50px;
    }

    &__label {
      @include type("body", "small");
    }
  }
}
