<sly data-sly-template.lightbox
     data-sly-use.buttonTemplate="/apps/tonomus/components/content/molecules/m02-button.html">

  <div class="o-lightbox" data-component="o38-lightbox">
    <div class="o-lightbox__mask" data-lightbox-mask></div>
    <sly data-sly-call="${buttonTemplate.button @ level='secondary', icon='close', theme='white',
     variant='close'}"></sly>
    <div class="o-lightbox__wrapper" data-lightbox-wrapper>
      <div class="o-lightbox__container" data-lightbox-container>
      </div>
    </div>
  </div>

</sly>