<sly data-sly-template.inputList="${ @
     stepGroupModel = 'the instance of class StepGroup Model with properties'}"
     data-sly-use.fieldsetLegendTemplate="/apps/tonomus/components/content/atoms/a26-fieldset-legend.html">

  <div class="o-inputList" data-component="o77-input-list"
       data-sly-attribute.id="${stepGroupModel.id}"
       data-sly-attribute.data-scroll-component="${stepGroupModel.scrollComponent}">
    <fieldset class="o-inputList__fieldset"
              data-sly-attribute.data-validate="${stepGroupModel.validate.json}"
              data-sly-attribute.id="${stepGroupModel.id}">
      <div class="o-inputList__container">
        <sly data-sly-test="${stepGroupModel.fieldsetLegend}"
             data-sly-call="${fieldsetLegendTemplate.fieldsetLegend
             @ fieldsetLegend=stepGroupModel.fieldsetLegend}"></sly>
        <sly data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
           data-sly-list.child="${templatedContainer.structureResources}">
          <sly data-sly-test="${child.resourceType !='nt:unstructured'}"
              data-sly-resource="${child.path @ resourceType=child.resourceType, decorationTagName='', decoration=wcmmode.edit}"></sly>
      </sly>
      <sly data-sly-test="${wcmmode.edit}"
           data-sly-resource="${resource.path @
                       resourceType='wcm/foundation/components/responsivegrid/new', appendPath='/*',
                       decoration=wcmmode.edit, decorationTagName=''}"></sly>
      </div>
    </fieldset>
  </div>

</sly>




