<link rel="stylesheet" href="./m33-cursor.scss">
<script src="./M33Cursor.ts"></script>


<div class="m-cursor" data-component="m33-cursor" {{#if scrollComponent}}data-scroll-component{{/if}}>
  <div class="m-cursor__pointer" data-cursor-pointer>
    {{!-- Inject A02 Icon here --}}
  </div>
</div>
