<link rel="stylesheet" href="./m08-page-indicators.scss">
<script src="./M08PageIndicators.ts"></script>


<div class="m-pageIndicators" data-component="m08-page-indicators" data-slider-pagination>
  {{#each items}}
    {{> atom/a08-page-indicator }}
  {{/each}}
</div>
