<link rel="stylesheet" href="./a04-eyebrow.scss">
<script src="./A04Eyebrow.ts"></script>

<p class="a-eyebrow{{#if size}} -{{size}}{{^}} -large{{/if}}{{#if variant}} -{{variant}}{{/if}}" data-component="a04-eyebrow">
  {{ text }}
</p>
