



<section class="b-webglScrollSpacer"
  data-component="c93-webgl-scroll-spacer"
  {{#if scrollComponent}}data-scroll-component{{/if}}
  {{#if asset}}data-asset="{{asset}}"{{/if}}
  {{#if id}} id="{{id}}"{{/if}}
  data-gradient-colors="{{gradientColors}}"
  data-lazy-component
>
</section>
