.o-newsCard {
  @include aspect-ratio(42, 50);

  color: var(--color-white);
  display: inherit;
  cursor: none;

  &__content {
    position: absolute;
    inset: 0;
    display: grid;
    align-content: end;
    gap: 16px;
    padding: 24px;
    background: linear-gradient(359.16deg, rgba(0, 0, 0, 0.62) 27.06%, rgba(0, 0, 0, 0) 61.75%);
  }

  &__meta,
  &__title {
    padding-inline-end: 56px;
    position: relative;
  }

  &__title {
    @include type("subTitle", "large");
  }

  &__metaWrapper {
    @include type("button", "small");

    display: block;
    white-space: pre-line;
    color: var(--color-tonomus-green-300);
  }

  .m-button {
    margin-inline-end: auto;
  }
}
