<link rel="stylesheet" href="./a07-label.scss">
<script src="./A07Label.ts"></script>

<span class="a-label{{#if size}} -{{size}}{{/if}}{{#if variant}} -{{variant}}{{/if}}" data-component="a07-label">
  {{ text }}
</span>
