src/main/content/jcr_root/apps/tonomus/clientlibs/clientlib-site
src/main/content/jcr_root/apps/tonomus/clientlibs/clientlib-dependencies
src/main/content/jcr_root/apps/tonomus/clientlibs/clientlib-editor