<link rel="stylesheet" href="./o38-lightbox.scss">
<script src="./O38Lightbox.ts"></script>

<div class="o-lightbox" data-component="o38-lightbox">
  <div class="o-lightbox__mask" data-lightbox-mask></div>
  {{> molecule/m02-button level="secondary" icon="close" theme="white" variant="close" }}
  <div class="o-lightbox__wrapper" data-lightbox-wrapper>
    <div class="o-lightbox__container" data-lightbox-container>
      {{!-- Lightbox content injected here --}}
    </div>
  </div>
</div>