<link rel="stylesheet" href="./a05-moustache.scss">
<script src="./A05Moustache.ts"></script>

<p class="a-moustache{{#if size}} -{{size}}{{^}} -large{{/if}}{{#if variant}} -{{variant}}{{/if}}" data-component="a05-moustache">
  {{{ text }}}
</p>
