<script src="./S09Overlay.ts"></script>

<section class="b-overlay" data-component="s09-overlay" {{#if id}}id="{{id}}" {{/if}}>
  {{> organism/o10-modal }}
  {{> organism/o38-lightbox }}
  {{> organism/o02-video-overlay }}
  {{> organism/o24-popup-message }}
</section>