<template
    data-sly-template.opportunityCard="${@
      model='Sling model for the Opportunity Card (OpportunityCardModel)',
      scrollComponent='Boolean condition, true to add the data-scroll-component attribute',
      id='Hyper reference anchor id',
      videoJson='JSON with video data',
      ariaLabel='Button aria label',
      ariaControls='Button aria controls'
    }"
    data-sly-use.commonComponentModel="com.tonomus.core.slingmodels.common.v1.CommonComponentModel"
    data-sly-use.imgTpl="/apps/tonomus/components/content/atoms/a01-image.html"
    data-sly-use.hTpl="/apps/tonomus/components/content/atoms/a03-heading.html"
    data-sly-use.icoTpl="/apps/tonomus/components/content/atoms/a02-icon.html"
>
  <div class="m-opportunityCard"
  data-component="m59-opportunity-card"
  data-sly-attribute.data-scroll-component="${commonComponentModel.scrollComponent}"
  data-sly-attribute.id="${commonComponentModel.anchorId}"
  >
    <div class="m-opportunityCard__content" data-carousel-content>
      <sly data-sly-call="${imgTpl.image @ imageModel=model.image, variant='block', disableTransition=true}"></sly>
      <p class="m-opportunityCard__cardTitle">
        ${model.title @ context='html'}
      </p>
    </div>
  </div>
</template>
