.a-checkbox {
  @include size(var(--checkbox-size));

  cursor: pointer;
  flex: 0 0 auto;
  position: relative;
  align-self: center;

  &__input {
    @include offset();
    @include size(100%);

    appearance: none;
    opacity: 0;
    pointer-events: none;
    position: absolute;

    &:checked {
      ~ .a-checkbox__indicator {
        --checkbox-background-color: var(--checkbox-active-background-color);
        --checkbox-border-color: var(--checkbox-active-background-color);

        &::after {
          opacity: 1;
        }
      }
    }

    &:disabled {
      ~ .a-checkbox__indicator {
        filter: grayscale(1);
        opacity: 0.5;
      }
    }
  }

  &.-isChecked {
    cursor: default;
  }

  &.-isDisabled {
    cursor: not-allowed;
  }

  // stylelint-disable-next-line no-descending-specificity
  &__indicator {
    @include size(100%);

    background-color: var(--checkbox-background-color);
    border-radius: var(--checkbox-border-radius);
    border: var(--checkbox-border-width) solid var(--checkbox-border-color);
    display: block;
    position: relative;

    // stylelint-disable-next-line no-descending-specificity
    &::after {
      @include size(5px, 9px);
      @include offset(6px, 3px);

      border: solid var(--checkbox-checkmark-color, var(--color-white));
      border-width: 0 2px 2px 0;
      content: "";
      opacity: 0;
      position: absolute;
      transform: rotate(43deg);
    }
  }
}
